.container {
  background: #1f1f1f;
}
.wallet-adapter-button-trigger {
  background-color: #833bbe;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
